
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    }

header{
    background-color: black;
    color: white;
    height: 60px;
    }

header img.logo{
    max-width: 150px;

}

header .pagecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    margin-left: 14px;
    font-size: 18px;
}

section.hero{
    background-image: url('/public/img/city.jpg');
    height: 500px;
    background-size: cover
}

section.hero .hero-content {
    color: white;
    
}

section.hero .pagecontainer{
    height: 100%;
    display: flex;
    align-items: center;
}
section.hero .hero-content h2 {
   margin: 0;
   max-width: 500px;
   font-size: 32px;
   }

section.hero .hero-content p {
    margin: 8px 0;
    max-width: 300px;
    font-size: 14px;
}

section.hero .hero-content button {
    color: white;
    background-color: black;
    font-weight: bold;
}


/*Set the grid of the page*/
.pagecontainer{
width: 100%;
max-width: 100%;
margin: auto;
padding: 0 50px;
box-sizing: border-box;
/*The code below is for viewing the container*/
/* border: 1px solid yellow; */
}

@media screen (min-width: 576px){
    .pagecontainer {
        max-width: 540px;
    }
}

@media screen (min-width: 768px){
    .pagecontainer {
        max-width: 720px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .pagecontainer{
        width: 428px;
        height: 926px;
    }
}

@media screen (min-width: 992px){
    .pagecontainer {
        max-width: 960px;
    }
}
@media screen (min-width: 1200px){
    .pagecontainer {
        max-width: 1140px;
    }
}

@media screen (min-width: 1920px){
    .pagecontainer {
        max-width: 1080px;
    }
}